<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.broccoli.blog.mapper.AboutBlogMapper" >
  <resultMap id="BlogMessageResult" type="cn.broccoli.blog.po.BlogMessage" >
    <result column="blog_keyword" property="blogKeyword" jdbcType="VARCHAR" />
    <result column="blog_description" property="blogDescription" jdbcType="VARCHAR" />
    <result column="blog_name" property="blogName" jdbcType="VARCHAR" />
    <result column="blog_title" property="blogTitle" jdbcType="VARCHAR" />
    <result column="user_nikename" property="userNikename" jdbcType="VARCHAR" />
    <result column="user_sex" property="userSex" jdbcType="VARCHAR" />
    <result column="user_description" property="userDescription" jdbcType="VARCHAR" />
    <result column="user_image_url" property="userImageUrl" jdbcType="VARCHAR" />
    <result column="pageview" property="pageView" jdbcType="INTEGER" />
    <result column="articlenum" property="articleNum" jdbcType="INTEGER" />
  </resultMap>

  <select id="selectBlogMessage" resultMap="BlogMessageResult" parameterType="java.lang.Integer" >
    SELECT ab.blog_keyword,ab.blog_description,ab.blog_name,ab.blog_title,u.user_nikename,  u.user_sex,u.user_description,u.user_image_url,(select count(*) from article where user_id=#{id} and article_status=0 ) as articlenum,(select count(*) from visitor where user_id=#{id} ) as pageview
FROM about_blog AS ab inner join user U  on ab.user_id=U.user_id where ab.user_id=#{id};

  </select>
  
</mapper>