<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.broccoli.blog.mapper.AdMapper" >
  <resultMap id="BaseResultMap" type="cn.broccoli.blog.po.Ad" >
    <id column="ad_id" property="adId" jdbcType="SMALLINT" />
    <result column="position_id" property="positionId" jdbcType="SMALLINT" />
    <result column="media_type" property="mediaType" jdbcType="TINYINT" />
    <result column="ad_name" property="adName" jdbcType="VARCHAR" />
    <result column="ad_link" property="adLink" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="link_man" property="linkMan" jdbcType="VARCHAR" />
    <result column="link_email" property="linkEmail" jdbcType="VARCHAR" />
    <result column="link_phone" property="linkPhone" jdbcType="VARCHAR" />
    <result column="click_count" property="clickCount" jdbcType="INTEGER" />
    <result column="enabled" property="enabled" jdbcType="TINYINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="cn.broccoli.blog.po.Ad" extends="BaseResultMap" >
    <result column="ad_code" property="adCode" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ad_id, position_id, media_type, ad_name, ad_link, start_time, end_time, link_man, 
    link_email, link_phone, click_count, enabled
  </sql>
  <sql id="Blob_Column_List" >
    ad_code
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="cn.broccoli.blog.po.AdExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ad
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.broccoli.blog.po.AdExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ad
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Short" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ad
    where ad_id = #{adId,jdbcType=SMALLINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from ad
    where ad_id = #{adId,jdbcType=SMALLINT}
  </delete>
  <delete id="deleteByExample" parameterType="cn.broccoli.blog.po.AdExample" >
    delete from ad
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.broccoli.blog.po.Ad" >
    insert into ad (ad_id, position_id, media_type, 
      ad_name, ad_link, start_time, 
      end_time, link_man, link_email, 
      link_phone, click_count, enabled, 
      ad_code)
    values (#{adId,jdbcType=SMALLINT}, #{positionId,jdbcType=SMALLINT}, #{mediaType,jdbcType=TINYINT}, 
      #{adName,jdbcType=VARCHAR}, #{adLink,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{linkMan,jdbcType=VARCHAR}, #{linkEmail,jdbcType=VARCHAR}, 
      #{linkPhone,jdbcType=VARCHAR}, #{clickCount,jdbcType=INTEGER}, #{enabled,jdbcType=TINYINT}, 
      #{adCode,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.broccoli.blog.po.Ad" >
    insert into ad
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="adId != null" >
        ad_id,
      </if>
      <if test="positionId != null" >
        position_id,
      </if>
      <if test="mediaType != null" >
        media_type,
      </if>
      <if test="adName != null" >
        ad_name,
      </if>
      <if test="adLink != null" >
        ad_link,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="linkMan != null" >
        link_man,
      </if>
      <if test="linkEmail != null" >
        link_email,
      </if>
      <if test="linkPhone != null" >
        link_phone,
      </if>
      <if test="clickCount != null" >
        click_count,
      </if>
      <if test="enabled != null" >
        enabled,
      </if>
      <if test="adCode != null" >
        ad_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="adId != null" >
        #{adId,jdbcType=SMALLINT},
      </if>
      <if test="positionId != null" >
        #{positionId,jdbcType=SMALLINT},
      </if>
      <if test="mediaType != null" >
        #{mediaType,jdbcType=TINYINT},
      </if>
      <if test="adName != null" >
        #{adName,jdbcType=VARCHAR},
      </if>
      <if test="adLink != null" >
        #{adLink,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="linkMan != null" >
        #{linkMan,jdbcType=VARCHAR},
      </if>
      <if test="linkEmail != null" >
        #{linkEmail,jdbcType=VARCHAR},
      </if>
      <if test="linkPhone != null" >
        #{linkPhone,jdbcType=VARCHAR},
      </if>
      <if test="clickCount != null" >
        #{clickCount,jdbcType=INTEGER},
      </if>
      <if test="enabled != null" >
        #{enabled,jdbcType=TINYINT},
      </if>
      <if test="adCode != null" >
        #{adCode,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.broccoli.blog.po.AdExample" resultType="java.lang.Integer" >
    select count(*) from ad
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ad
    <set >
      <if test="record.adId != null" >
        ad_id = #{record.adId,jdbcType=SMALLINT},
      </if>
      <if test="record.positionId != null" >
        position_id = #{record.positionId,jdbcType=SMALLINT},
      </if>
      <if test="record.mediaType != null" >
        media_type = #{record.mediaType,jdbcType=TINYINT},
      </if>
      <if test="record.adName != null" >
        ad_name = #{record.adName,jdbcType=VARCHAR},
      </if>
      <if test="record.adLink != null" >
        ad_link = #{record.adLink,jdbcType=VARCHAR},
      </if>
      <if test="record.startTime != null" >
        start_time = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null" >
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.linkMan != null" >
        link_man = #{record.linkMan,jdbcType=VARCHAR},
      </if>
      <if test="record.linkEmail != null" >
        link_email = #{record.linkEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.linkPhone != null" >
        link_phone = #{record.linkPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.clickCount != null" >
        click_count = #{record.clickCount,jdbcType=INTEGER},
      </if>
      <if test="record.enabled != null" >
        enabled = #{record.enabled,jdbcType=TINYINT},
      </if>
      <if test="record.adCode != null" >
        ad_code = #{record.adCode,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update ad
    set ad_id = #{record.adId,jdbcType=SMALLINT},
      position_id = #{record.positionId,jdbcType=SMALLINT},
      media_type = #{record.mediaType,jdbcType=TINYINT},
      ad_name = #{record.adName,jdbcType=VARCHAR},
      ad_link = #{record.adLink,jdbcType=VARCHAR},
      start_time = #{record.startTime,jdbcType=TIMESTAMP},
      end_time = #{record.endTime,jdbcType=TIMESTAMP},
      link_man = #{record.linkMan,jdbcType=VARCHAR},
      link_email = #{record.linkEmail,jdbcType=VARCHAR},
      link_phone = #{record.linkPhone,jdbcType=VARCHAR},
      click_count = #{record.clickCount,jdbcType=INTEGER},
      enabled = #{record.enabled,jdbcType=TINYINT},
      ad_code = #{record.adCode,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ad
    set ad_id = #{record.adId,jdbcType=SMALLINT},
      position_id = #{record.positionId,jdbcType=SMALLINT},
      media_type = #{record.mediaType,jdbcType=TINYINT},
      ad_name = #{record.adName,jdbcType=VARCHAR},
      ad_link = #{record.adLink,jdbcType=VARCHAR},
      start_time = #{record.startTime,jdbcType=TIMESTAMP},
      end_time = #{record.endTime,jdbcType=TIMESTAMP},
      link_man = #{record.linkMan,jdbcType=VARCHAR},
      link_email = #{record.linkEmail,jdbcType=VARCHAR},
      link_phone = #{record.linkPhone,jdbcType=VARCHAR},
      click_count = #{record.clickCount,jdbcType=INTEGER},
      enabled = #{record.enabled,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.broccoli.blog.po.Ad" >
    update ad
    <set >
      <if test="positionId != null" >
        position_id = #{positionId,jdbcType=SMALLINT},
      </if>
      <if test="mediaType != null" >
        media_type = #{mediaType,jdbcType=TINYINT},
      </if>
      <if test="adName != null" >
        ad_name = #{adName,jdbcType=VARCHAR},
      </if>
      <if test="adLink != null" >
        ad_link = #{adLink,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="linkMan != null" >
        link_man = #{linkMan,jdbcType=VARCHAR},
      </if>
      <if test="linkEmail != null" >
        link_email = #{linkEmail,jdbcType=VARCHAR},
      </if>
      <if test="linkPhone != null" >
        link_phone = #{linkPhone,jdbcType=VARCHAR},
      </if>
      <if test="clickCount != null" >
        click_count = #{clickCount,jdbcType=INTEGER},
      </if>
      <if test="enabled != null" >
        enabled = #{enabled,jdbcType=TINYINT},
      </if>
      <if test="adCode != null" >
        ad_code = #{adCode,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ad_id = #{adId,jdbcType=SMALLINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.broccoli.blog.po.Ad" >
    update ad
    set position_id = #{positionId,jdbcType=SMALLINT},
      media_type = #{mediaType,jdbcType=TINYINT},
      ad_name = #{adName,jdbcType=VARCHAR},
      ad_link = #{adLink,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      link_man = #{linkMan,jdbcType=VARCHAR},
      link_email = #{linkEmail,jdbcType=VARCHAR},
      link_phone = #{linkPhone,jdbcType=VARCHAR},
      click_count = #{clickCount,jdbcType=INTEGER},
      enabled = #{enabled,jdbcType=TINYINT},
      ad_code = #{adCode,jdbcType=LONGVARCHAR}
    where ad_id = #{adId,jdbcType=SMALLINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.broccoli.blog.po.Ad" >
    update ad
    set position_id = #{positionId,jdbcType=SMALLINT},
      media_type = #{mediaType,jdbcType=TINYINT},
      ad_name = #{adName,jdbcType=VARCHAR},
      ad_link = #{adLink,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      link_man = #{linkMan,jdbcType=VARCHAR},
      link_email = #{linkEmail,jdbcType=VARCHAR},
      link_phone = #{linkPhone,jdbcType=VARCHAR},
      click_count = #{clickCount,jdbcType=INTEGER},
      enabled = #{enabled,jdbcType=TINYINT}
    where ad_id = #{adId,jdbcType=SMALLINT}
  </update>
</mapper>