<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.broccoli.blog.mapper.ArticleSortMapper" > 
  <resultMap id="BaseResultMap" type="cn.broccoli.blog.po.ArticleSort" >
    <id column="sort_article_id" property="sortArticleId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="sort_article_name" property="sortArticleName" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="LimitResultMap" type="cn.broccoli.blog.utils.TagsList" >
    <id column="sort_article_id" property="sortArticleId" jdbcType="INTEGER" />
   <result column="user_nikename" property="userNikename" jdbcType="VARCHAR" />
    <result column="sort_article_name" property="sortArticleName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    sort_article_id, user_id, sort_article_name
  </sql>
  
  <select id="selectByUserId"  resultType="java.util.HashMap" parameterType="java.lang.Integer">
  select sort_article_id,sort_article_name FROM article_sort where user_id=#{userid};
  </select>
  
  <select id="selectTagsBylimit" resultMap="LimitResultMap">
		select
		A.sort_article_id,A.sort_article_name,U.user_nikename
		from article_sort A inner join user U on A.user_id=U.user_id
		<where>
			U.user_id=#{userid}
			<if test="sortArticleId != null and sortArticleId != ''">
				and A.sort_article_id LIKE CONCAT('%',#{sortArticleId},'%') 
			</if>
			<if test="sortArticleName != null and sortArticleName !=''">
				and A.sort_article_name LIKE CONCAT('%',#{sortArticleName},'%') 
			</if>

		</where>
		 limit #{page},#{limit};
	</select>
   <select id="selectTagBylimitCount" resultType="java.lang.Integer">
		select
		count(*)
		from article_sort A inner join user U on A.user_id=U.user_id
		<where>
			U.user_id=#{userid}
			<if test="sortArticleId != null and sortArticleId != ''">
				and A.sort_article_id LIKE CONCAT('%',#{sortArticleId},'%') 
			</if>
			<if test="sortArticleName != null and sortArticleName !=''">
				and A.sort_article_name LIKE CONCAT('%',#{sortArticleName},'%') 
			</if>

		</where>
	</select>
  <delete id="deleteTagsById" parameterType="java.util.List">
		delete from article_sort where sort_article_id in
		<foreach collection="list" item="ids" open="(" close=")"
			separator=",">
			#{ids.sortArticleId}
		</foreach>
	</delete>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.broccoli.blog.po.ArticleSortExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from article_sort
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from article_sort
    where sort_article_id = #{sortArticleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from article_sort
    where sort_article_id = #{sortArticleId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.broccoli.blog.po.ArticleSortExample" >
    delete from article_sort
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.broccoli.blog.po.ArticleSort" >
    insert into article_sort (sort_article_id, user_id, sort_article_name
      )
    values (#{sortArticleId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{sortArticleName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.broccoli.blog.po.ArticleSort" >
    insert into article_sort
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sortArticleId != null" >
        sort_article_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="sortArticleName != null" >
        sort_article_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sortArticleId != null" >
        #{sortArticleId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="sortArticleName != null" >
        #{sortArticleName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.broccoli.blog.po.ArticleSortExample" resultType="java.lang.Integer" >
    select count(*) from article_sort
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update article_sort
    <set >
      <if test="record.sortArticleId != null" >
        sort_article_id = #{record.sortArticleId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.sortArticleName != null" >
        sort_article_name = #{record.sortArticleName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update article_sort
    set sort_article_id = #{record.sortArticleId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      sort_article_name = #{record.sortArticleName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.broccoli.blog.po.ArticleSort" >
    update article_sort
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="sortArticleName != null" >
        sort_article_name = #{sortArticleName,jdbcType=VARCHAR},
      </if>
    </set>
    where sort_article_id = #{sortArticleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.broccoli.blog.po.ArticleSort" >
    update article_sort
    set user_id = #{userId,jdbcType=INTEGER},
      sort_article_name = #{sortArticleName,jdbcType=VARCHAR}
    where sort_article_id = #{sortArticleId,jdbcType=INTEGER}
  </update>
</mapper>