<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.broccoli.blog.mapper.SecretMessageMapper" >
  <resultMap id="BaseResultMap" type="cn.broccoli.blog.po.SecretMessage" >
    <id column="secret_id" property="secretId" jdbcType="INTEGER" />
    <result column="send_id" property="sendId" jdbcType="INTEGER" />
    <result column="receive_id" property="receiveId" jdbcType="INTEGER" />
    <result column="message_topic" property="messageTopic" jdbcType="VARCHAR" />
    <result column="message_content" property="messageContent" jdbcType="VARCHAR" />
    <result column="message_time" property="messageTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    secret_id, send_id, receive_id, message_topic, message_content, message_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.broccoli.blog.po.SecretMessageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from secret_message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from secret_message
    where secret_id = #{secretId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from secret_message
    where secret_id = #{secretId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.broccoli.blog.po.SecretMessageExample" >
    delete from secret_message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.broccoli.blog.po.SecretMessage" >
    insert into secret_message (secret_id, send_id, receive_id, 
      message_topic, message_content, message_time
      )
    values (#{secretId,jdbcType=INTEGER}, #{sendId,jdbcType=INTEGER}, #{receiveId,jdbcType=INTEGER}, 
      #{messageTopic,jdbcType=VARCHAR}, #{messageContent,jdbcType=VARCHAR}, #{messageTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.broccoli.blog.po.SecretMessage" >
    insert into secret_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="secretId != null" >
        secret_id,
      </if>
      <if test="sendId != null" >
        send_id,
      </if>
      <if test="receiveId != null" >
        receive_id,
      </if>
      <if test="messageTopic != null" >
        message_topic,
      </if>
      <if test="messageContent != null" >
        message_content,
      </if>
      <if test="messageTime != null" >
        message_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="secretId != null" >
        #{secretId,jdbcType=INTEGER},
      </if>
      <if test="sendId != null" >
        #{sendId,jdbcType=INTEGER},
      </if>
      <if test="receiveId != null" >
        #{receiveId,jdbcType=INTEGER},
      </if>
      <if test="messageTopic != null" >
        #{messageTopic,jdbcType=VARCHAR},
      </if>
      <if test="messageContent != null" >
        #{messageContent,jdbcType=VARCHAR},
      </if>
      <if test="messageTime != null" >
        #{messageTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.broccoli.blog.po.SecretMessageExample" resultType="java.lang.Integer" >
    select count(*) from secret_message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update secret_message
    <set >
      <if test="record.secretId != null" >
        secret_id = #{record.secretId,jdbcType=INTEGER},
      </if>
      <if test="record.sendId != null" >
        send_id = #{record.sendId,jdbcType=INTEGER},
      </if>
      <if test="record.receiveId != null" >
        receive_id = #{record.receiveId,jdbcType=INTEGER},
      </if>
      <if test="record.messageTopic != null" >
        message_topic = #{record.messageTopic,jdbcType=VARCHAR},
      </if>
      <if test="record.messageContent != null" >
        message_content = #{record.messageContent,jdbcType=VARCHAR},
      </if>
      <if test="record.messageTime != null" >
        message_time = #{record.messageTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update secret_message
    set secret_id = #{record.secretId,jdbcType=INTEGER},
      send_id = #{record.sendId,jdbcType=INTEGER},
      receive_id = #{record.receiveId,jdbcType=INTEGER},
      message_topic = #{record.messageTopic,jdbcType=VARCHAR},
      message_content = #{record.messageContent,jdbcType=VARCHAR},
      message_time = #{record.messageTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.broccoli.blog.po.SecretMessage" >
    update secret_message
    <set >
      <if test="sendId != null" >
        send_id = #{sendId,jdbcType=INTEGER},
      </if>
      <if test="receiveId != null" >
        receive_id = #{receiveId,jdbcType=INTEGER},
      </if>
      <if test="messageTopic != null" >
        message_topic = #{messageTopic,jdbcType=VARCHAR},
      </if>
      <if test="messageContent != null" >
        message_content = #{messageContent,jdbcType=VARCHAR},
      </if>
      <if test="messageTime != null" >
        message_time = #{messageTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where secret_id = #{secretId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.broccoli.blog.po.SecretMessage" >
    update secret_message
    set send_id = #{sendId,jdbcType=INTEGER},
      receive_id = #{receiveId,jdbcType=INTEGER},
      message_topic = #{messageTopic,jdbcType=VARCHAR},
      message_content = #{messageContent,jdbcType=VARCHAR},
      message_time = #{messageTime,jdbcType=TIMESTAMP}
    where secret_id = #{secretId,jdbcType=INTEGER}
  </update>
</mapper>