<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.broccoli.blog.mapper.UserRankMapper" >
  <resultMap id="BaseResultMap" type="cn.broccoli.blog.po.UserRank" >
    <id column="rank_id" property="rankId" jdbcType="INTEGER" />
    <result column="user_rank_id" property="userRankId" jdbcType="SMALLINT" />
    <result column="rank_mark" property="rankMark" jdbcType="INTEGER" />
    <result column="rank_name" property="rankName" jdbcType="VARCHAR" />
  </resultMap>
 
  <update id="updateByPrimaryKey" parameterType="cn.broccoli.blog.po.UserRank" >
    update user_rank
    set user_rank_id = #{userRankId,jdbcType=SMALLINT},
      rank_mark = #{rankMark,jdbcType=INTEGER},
      rank_name = #{rankName,jdbcType=VARCHAR}
    where rank_id = #{rankId,jdbcType=INTEGER}
  </update>
</mapper>