@font-face {
    font-family: 'Lucida Console';
    /*鑷畾涔夊瓧浣撳悕绉�*/
    src: url('../fonts/Lucida Console.ttf');
    font-weight: bold;
    font-style: normal;
}

.iconfont {
    font-family: iconfont;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: -1px;
    -webkit-text-stroke-width: 0 !important;
}


* {
    font-family: 'Ubuntu Mono', "PingFang SC", "Lantinghei SC", "Microsoft YaHei", arial, "\5b8b\4f53", sans-serif, tahoma;
    letter-spacing: 1.5px;
}

.layui-layout-body {
    overflow-y: auto;
    box-sizing: border-box;
}

.my-theme-default .layui-layout-admin .layui-main {

    max-width: 1200px;
    width: auto;
    margin: 0px auto;
}

.my-theme-default .layui-layout-admin .layui-header {

    box-sizing: border-box;
    background-color: #373d41;
    z-index: 100000;
}

.my-theme-default .layui-layout-admin .layui-header .layui-logo {
    background-color: #373d41 !important;
    text-align: left;
    position: relative;
}

.my-theme-default .layui-layout-admin .layui-header .layui-logo:hover {
    background-color: #2a2f32 !important;
    color: #009688;
}

.my-theme-default .layui-layout-admin .layui-header .layui-logo-brand a {
    display: block;
    padding-left: 23px;
    color: #fff;
}


.my-theme-default .layui-layout-admin .layui-header .layui-layout-right .layui-nav {}


.body-box-15 {
    padding: 20px;
    overflow: hidden;
}

.my-theme-default .layui-layout-admin .layui-body {
    position: fixed;
    top: 60px;
    bottom: 44px;
    left: 0px;
}
.my-content .main-list{
	min-height: 600px;
}
.my-content .tags {
    border-radius: 3px;
    margin-bottom: 20px;
    overflow: hidden;
}

.my-theme-default .layui-layout-admin .my-content .my-content-left {}

.my-theme-default .layui-layout-admin .my-content .my-content-right {}

.my-content .tags ul a {
    line-height: 24px;
    height: 24px;
    display: block;
    background: #999;
    float: left;
    padding: 3px 10px;
    margin: 10px 5px 0 0;
    border-radius: 3px;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    color: #FFF;
}

.my-content .detail {
    min-height: 600px;
}

.tags ul a:nth-child(8n-7) {
    background: #8A9B0F
}

.tags ul a:nth-child(8n-6) {
    background: #EB6841
}

.tags ul a:nth-child(8n-5) {
    background: #3FB8AF
}

.tags ul a:nth-child(8n-4) {
    background: #FE4365
}

.tags ul a:nth-child(8n-3) {
    background: #FC9D9A
}

.tags ul a:nth-child(8n-2) {
    background: #EDC951
}

.tags ul a:nth-child(8n-1) {
    background: #C8C8A9
}

.tags ul a:nth-child(8n) {
    background: #83AF9B
}

.tags ul a:first-child {
    background: #036564
}

.tags ul a:last-child {
    background: #3299BB
}

.tags ul a:hover {
    border-radius: 0;
    text-shadow: #000 1px 1px 1px
}

.links li a {
    display: block;
}

.links li {
    display: inline-block;
    width: 50%;
    float: left;
    line-height: 30px;
    text-align: center;
}

.links ul {
    overflow: hidden;
}

.my-content .links ul a {
    line-height: 24px;
    height: 24px;
    display: block;
    float: left;
    padding: 3px 10px;
    margin: 10px 5px 0 0;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    color: #333;
}

.links ul a:hover {
    color: #000;
    background-color: #E9EAED;
    text-decoration: none;
}

.bgc-f4 {
    background-color: #f4f4f4;
}

.bgc-fff {
    background-color: #fff;
}

.border-box {
    border-radius: .25rem;
    position: relative;
}

.mg-b-20 {
    margin-bottom: 20px;
}

.mg-b-10 {
    margin-bottom: 10px;
}

.mg-l-20 {
    margin-left: 20px;
}

.mg-l-10 {
    margin-left: 10px;
}

.pd-lr-10 {
    padding: 0px 10px;
}

.pd-r-10 {
    padding-right: 10px;
}

.pd-tb-10 {
    padding: 10px 0px;
}

.pd-15-20 {
    padding: 15px 25px;
}

.pd-20 {
    padding: 20px 10px 20px 0px;
}

.line {
    height: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.user-backgroup-image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0px;
    left: 0px;
    opacity: 0.5;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

.my-theme-default .my-article-list h3 {
    font-size: 20px;
    font-weight: bold;
}

.my-theme-default .my-article-list h3 a {
    color: #009688;
}

.my-theme-default .my-article-list div {
    font-size: 12px;
    color: #ABBAC3;
}

.my-theme-default .my-article-list p {
    color: #333;
    font-size: 14px;
    line-height: 1.5em;
    margin-bottom: 0;
}

.top-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    color: #999;
    padding-left: 35px;
    cursor: pointer;
    position: relative;
}

.my-theme-default .my-blogger-img {}

.my-theme-default .my-blogger-img a {
    display: block;
    width: 100px;
    margin: 0px auto;
    height: 100px;
    overflow: hidden;
    border-radius: 90px;
}

.my-theme-default .my-blogger-img a img {
    width: 100px;
    height: 100px;
    overflow: hidden;

}

.my-theme-default .my-blogger-detail {
    vertical-align: middle;
    opacity: 1;
    color: #fff !important;
}

.my-theme-default .my-blogger-detail span {
    font-weight: 600;
}

.my-theme-default .my-blogger-detail .my-blogger-name {
    font-size: 14px;
    vertical-align: 1px;
}

.my-blogger-detail .my-blogger-sex {
    color: #1E9FFF;
}

.my-theme-default .my-blogger-detail p {
    color: #777;
    line-height: 26px;
    border-bottom: #f5f5f5 1px solid;
    padding-bottom: 20px;
}

.my-theme-default .my-blogger-detail .my-article-class {
    font-size: 16px;
    font-weight: bold;
}

.my-theme-default .my-blogger-detail .my-article-class-num a {
    font-size: 14px;
    font-weight: 600;
    color: #01AAED;
}

.layui-card-header {}

.details footer {
    line-height: 2;
    padding: 20px;

}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #3d4a5dd9;
}

.my-theme-default .my-blogger-detail .my-article-class-title {}

.my-theme-default .my-article-detail h1 {

    color: #009688;
}

.my-theme-default .my-article-detail .my-article-detail-blogger {}

.my-theme-default .my-article-detail .my-article-detail-blogger span {
    font-size: 14px;
}

.my-theme-default .my-article-detail .my-article-detail-blogger span i {
    margin-right: 2px;
}

.my-theme-default .my-article-content {
    color: #777;
    line-height: 2;
    padding-bottom: 20px;
}

.my-timeline {
    padding: 20px 40px;
}

.my-timeline .layui-timeline-content {
    margin-left: 35px;
    border-radius: 5px;
    padding-left:0px;
}

.my-timeline .layui-timeline-content:after,
.my-timeline .layui-timeline-content:before {
    content: '';
    position: absolute;
    display: inline-block;
}

.my-timeline .layui-timeline-content:after {
    top: 25px;
    left: 21px;
    border: 8px solid transparent;
    border-right-color: #fff;
}

.my-timeline .layui-timeline-content:before {
    top: 25px;
    left: 20px;
    border: 8px solid transparent;
    border-right-color: rgba(0, 0, 0, 0.05);
}

.my-timeline .layui-timeline .layui-timeline-item:before {
    top: 25px;
}

.my-timeline .layui-timeline .layui-timeline-item .layui-timeline-axis {
    top: 25px;
    background-color: #f4f4f4;
}
.my-timeline .layui-timeline-content .my-article-meta{
	font-size: 12px;
    color: #898d92;
    border-top: 1px solid #f7f7f7;
    background-color: rgba(244,246,247,0.2);
}
.my-timeline .layui-timeline-content .my-article-meta{
	padding: 5px;
}
.my-timeline .layui-timeline-content .layui-timeline-title{
	padding:10px 5px 0px 5px;
}
 .my-timeline .layui-timeline-content .my-article-meta > div{
	display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    color: #999;
    padding-left: 15px;
    cursor: pointer;
    position: relative;
}
.my-timeline .layui-timeline-content .layui-timeline-title a{
	color: #009688;
}
.my-timeline .layui-timeline-content .my-article-meta {
	color: #999;
}

.my-article-meta .article-tag a{
	color: #e96900;
    text-decoration: none;
}
.article-tag a:hover{
	color: #999;
}
.my-timeline .layui-timeline-content a:hover{
	text-decoration: none;
}
.my-theme-default .my-article-comment-validate span {}
.about{
	padding:20px;
}
.about .about-my{
	padding:10px 20px;
}
.about .about-my p{
	font-size: 16px;
	line-height: 1.5em;
	color: #333;
}
.about .about-my h1{
	color: #009688;
	padding-bottom: 10px;
	font-weight: bold;
	font-size: 20px;
}
.about .about-bottom p{
	font-size: 16px;
	line-height: 1.5em;
	color: #333;
}
.center {
    text-align: center;
}