<#assign base=request.contextPath />
<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8">
<title>列表</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet"
	href="${base}/static/layuiadmin/layui/css/layui.css"
	media="all">
<link rel="stylesheet"
	href="${base}/static/layuiadmin/style/admin.css"
	media="all">
	<link rel="stylesheet"
	href="${base}/static/css/my.css"
	media="all">
</head>
<body>

	<div class="layui-fluid">
		<div class="layui-card">
			<div class="layui-form layui-card-header layuiadmin-card-header-auto">
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">分类ID</label>
						<div class="layui-input-inline">
							<input type="text" name="sortArticleId" placeholder="请输入" autocomplete="off"
								class="layui-input">
						</div>
					</div>

					<div class="layui-inline">
						<label class="layui-form-label">分类名称</label>
						<div class="layui-input-inline">
							<input type="text" name="sortArticleName" placeholder="请输入"
								autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<button class="layui-btn layuiadmin-btn-list" lay-submit
							lay-filter="article-sort-search">
							<i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
						</button>
					</div>
				</div>
			</div>

			<div class="layui-card-body">
				<div style="padding-bottom: 10px;">
					<button class="layui-btn layuiadmin-btn-list" data-type="batchdel">删除</button>
					<button class="layui-btn layuiadmin-btn-list" data-type="add">添加</button>
				</div>
				<table id="article-sort-list" lay-filter="article-sort-list"></table>
			
		<script type="text/html" id="table-content-list">
          <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
          <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
        </script>
			</div>
		</div>
	</div>
	<script src="${base}/static/js/my.js"></script>
	<script
		src="${base}/static/layuiadmin/layui/layui.js"></script>
	<script>
	layui.config({
		base: '${base}/static/layuiadmin/' //静态资源所在路径
	}).extend({
		index: 'lib/index' //主入口模块
	}).use(['index', 'taglist', 'table'],function() {
    var table = layui.table,
    form = layui.form;
    //监听搜索
    form.on('submit(article-sort-search)',
    function(data) {
      var field = data.field;
      //执行重载
      console.log(field);
      table.reload('article-sort-list', {
        where: field
      });
    });

    var $ = layui.$,
    active = {
      batchdel: function() {
        var checkStatus = table.checkStatus('article-sort-list'),
        checkData = checkStatus.data; //得到选中的数据
        if (checkData.length === 0) {
          return layer.msg('请选择数据');
        }

        layer.confirm('确定删除吗？',
        function(index) {

        	//执行 Ajax 后重载
			//修改接口参数为ID 不传obj checkData.articleId
			$.ajax({
			url :"${base}/api/article/tags/delete?r=" + Math.random(),
			type : "Delete",
			data :JSON.stringify(checkData),
			contentType:"application/json",
			dataType : "json",
			success : function(res) {
				if(res.code==0){
					layer.msg('已删除'+res.msg);
					table.reload('article-sort-list');
				}else{
					layer.msg(res.msg);
				}
			},
			error : function(XMLHttpRequest, textStatus,
					errorThrown) {
				// 状态码
				console.log(XMLHttpRequest.status);
				// 状态
				console.log(XMLHttpRequest.readyState);
				// 错误信息   
				console.log(textStatus);
			}
		});
         layer.msg('hi');

        });
      },
      add: function() {
    	  layer.prompt({
              title: '添加分类'
          }, function(value, index, elem) {
              $.ajax({
                  url:"${base}/api/article/tags/addtags?r=" + Math.random(),
                  type: "post",
                  data: {
                      "articleSort": value
                  },
                  dataType: "json",
                  success: function(res) {
                      if (res.data == true) {
                          layer.close(index);
                          layer.msg('添加中...', {
                              icon: 16,
                              shade: 0.01
                          }, function() {
                        	  table.reload('article-sort-list');
                              layer.msg(res.msg);
                          });

                      } else {
                          layer.msg('添加失败！');
                      }
                  },
                  error: function(XMLHttpRequest, textStatus,
                      errorThrown) {
                      // 状态码
                      console.log(XMLHttpRequest.status);
                      // 状态
                      console.log(XMLHttpRequest.readyState);
                      // 错误信息   
                      console.log(textStatus);
                  }
              });

          });
      }
    };

    $('.layui-btn.layuiadmin-btn-list').on('click',
    function() {
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });

  });</script>
</body>
</html>
