
<#assign base=request.contextPath />
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>layuiAdmin 角色管理 iframe 框</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet"
	href="${base}/static/layuiadmin/layui/css/layui.css" media="all">
<link rel="stylesheet"
	href="${base}/static/css/my.css"
	media="all">	
	<link rel="stylesheet"
	href="${base}/static/layuiadmin/style/admin.css"
	media="all">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card pd-20">
	<div class="layui-form" lay-filter="role-edit"
		id="layuiadmin-form-role" style="padding: 20px 30px 0 0;">

		<input type="hidden" name="id" lay-verify="required" placeholder="请输入"
					autocomplete="off" class="layui-input">
		<div class="layui-form-item">
			<label class="layui-form-label">角色名称</label>
			<div class="layui-input-block">
				<input type="text" name="roleName" lay-verify="required" placeholder="请输入"
					autocomplete="off" class="layui-input">

			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">具体描述</label>
			<div class="layui-input-block">
				<textarea type="text" name="description" lay-verify="required"
					autocomplete="off" class="layui-textarea"></textarea>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">权限范围</label>
			<div class="layui-input-block">
				<div id="authTree" class="demo-tree-more"></div>
			</div>
		</div>
		<input type="hidden" name="authId" id="authId" lay-verify="authId" placeholder="请输入"
					autocomplete="off" class="layui-input">
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit  lay-filter="LAY-user-role-submit" id="LAY-user-role-submit">提交</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
			</div>
		</div>
		
	</div>
	</div>
	</div>
	<script src="${base}/static/layuiadmin/layui/layui.js"></script>
	
	<script>
	var dataResult,field;
	 function child(data,field){
		 this.dataResult=data;
		 this.field=field;
		};
		layui.config({
				base : '${base}/static/layuiadmin/' //静态资源所在路径
		}).extend({
				index : 'lib/index' //主入口模块
		}).use([ 'index', 'form', 'tree', 'util' ],function() {
				var $ = layui.$, form = layui.form, tree = layui.tree, layer = layui.layer, util = layui.util;
				var addTree;
				var arr =  new Array();
				
				$.ajax({
					url : "../../../api/authority/list",
					type : "GET",
					contentType : "application/json",
					dataType : "json",
					success : function(res) {
						if (res.code == 0) {
							addTree=tree.render({
								elem : '#authTree',
								data : res.data,
								showCheckbox : true, //是否显示复选框
								id : 'authTreeId',
								isJump : false, //是否允许点击节点时弹出新窗口跳转
								click : function(obj) {
								var data = obj.data; //获取当前点击的节点数据
								layer.msg('状态：' + obj.state + '<br>节点数据：'+ JSON.stringify(data));
						}
					});
							tree.setChecked('authTreeId',dataResult);
						
						} else {
							layer.msg(res.msg);
						}
					},
					error : function(XMLHttpRequest, textStatus, errorThrown) {
						// 状态码
						console.log(XMLHttpRequest.status);
						// 状态
						console.log(XMLHttpRequest.readyState);
						// 错误信息   
						console.log(textStatus);
					}
				});
				// 获取子节点ID
				var idArray = new Array();
				function getTreeIds(obj) {
				for (var i = 0; i < obj.length; i++) {
				idArray.push(obj[i].id);
				if (obj[i].children) {
				getTreeIds(obj[i].children);
				}
				}
				}
				form.val("role-edit",JSON.parse(field));
				
				form.verify({
					authId: function(value) {
						var checkedData= addTree.getChecked('authTreeId');
			        	if (checkedData.length == 0) {
			        		return '请勾选拥有权限';
			        		} else {
			        		for (var i = 0; i < checkedData.length; i++) {
			        		idArray.push(checkedData[i].id);
			        		if (checkedData[i].children.length > 0) {
			        		getTreeIds(checkedData[i].children);
			        		}
			        	}
			        		$('#authId').val(idArray);
			       }
			  }
			    });		
						

})
	</script>
</body>
</html>