
<#assign base=request.contextPath />
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layuiAdmin 角色管理</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="${base}/static/layuiadmin/layui/css/layui.css" media="all">
<link rel="stylesheet" href="${base}/static/layuiadmin/style/admin.css" media="all">
</head>
<body>

  <div class="layui-fluid">   
    <div class="layui-card">
      <div class="layui-form layui-card-header layuiadmin-card-header-auto">
        <div class="layui-form-item">
          <div class="layui-inline">
            角色筛选
          </div>
          <div class="layui-inline">
            <select name="rolename" id="roleType" lay-filter="LAY-user-adminrole-type">
          
            </select>
          </div>
        </div>
      </div>
      <div class="layui-card-body">
        <div style="padding-bottom: 10px;">
          <button class="layui-btn layuiadmin-btn-role" data-type="batchdel">删除</button>
          <a class="layui-btn layuiadmin-btn-role" href="javascript:;" lay-href="admin/user/administrators/roleform">添加角色</a>
        </div>
      
        <table id="LAY-user-back-role" lay-filter="LAY-user-back-role"></table>  
        <script type="text/html" id="lockRoleTpl"> 
  			<input type="checkbox" name="status" value="{{d.id}}" title="锁定" lay-filter="roleLock" {{ d.status == 1 ? 'checked' : '' }}>
		</script>
        <script type="text/html" id="table-useradmin-admin">
          <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
          <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
        </script>
      </div>
    </div>
  </div>

 <script
		src="${base}/static/layuiadmin/layui/layui.js"></script>
  <script>
  layui.config({
    base: '${base}/static/layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'useradmin', 'table','form'], function(){
    var $ = layui.$
    ,form = layui.form
    ,table = layui.table;
    
    //搜索角色
    form.on('select(LAY-user-adminrole-type)', function(data){
      //执行重载
      table.reload('LAY-user-back-role', {
        where: {
          role: data.value
        }
      });
    });
  
    //事件
    var active = {
      batchdel: function(){
        var checkStatus = table.checkStatus('LAY-user-back-role')
        ,checkData = checkStatus.data; //得到选中的数据

        if(checkData.length === 0){
          return layer.msg('请选择数据');
        }
        
        layer.confirm('确定删除吗？', function(index) {
            console.log(checkData);
          //执行 Ajax 后重载
          /*
          admin.req({
            url: 'xxx'
            //,……
          });
          */
          table.reload('LAY-user-back-role');
          layer.msg('已删除');
        });
      },
      add: function(){
        layer.open({
          type: 2
          ,title: '添加新角色'
          ,content: 'roleform.html'
          ,area: ['500px', '480px']
          ,btn: ['确定', '取消']
          ,yes: function(index, layero){
            var iframeWindow = window['layui-layer-iframe'+ index]
            ,submit = layero.find('iframe').contents().find("#LAY-user-role-submit");

            //监听提交
            iframeWindow.layui.form.on('submit(LAY-user-role-submit)', function(data){
              var field = data.field; //获取提交的字段
              console.log(field);
              //提交 Ajax 成功后，静态更新表格中的数据
              //$.ajax({});              
              table.reload('LAY-user-back-role');
              layer.close(index); //关闭弹层
            });  
            
            submit.trigger('click');
          }
        }); 
      }
    };
    form.on('checkbox(roleLock)', function(obj){
    	var roleLock=obj.elem.checked ? 1 : 0
    	$.ajax({
            url: "../../../api/administrators/role/lock",
            type: "POST",
            data: {"id":obj.value,"status":roleLock},
            contentType: "application/x-www-form-urlencoded",
            dataType: "json",
            success: function(res) {
              if (res.code == 0) {
            	  layer.msg('角色id：'+obj.value + ' 锁定：'+ obj.elem.checked);
              } else {
                layer.msg(res.msg);
              }
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
              // 状态码
              console.log(XMLHttpRequest.status);
              // 状态
              console.log(XMLHttpRequest.readyState);
              // 错误信息   
              console.log(textStatus);
            }
          });
    });
    $('.layui-btn.layuiadmin-btn-role').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });
    $.ajax({
		url : "../../../api/administrators/role/roletype/list",
		type : "GET",
		contentType : "application/json",
		dataType : "json",
		success : function(res) {
			if(res.code == 0){
			var resultData=res.data;
            var htmls = '<option value="">全部角色</option>'; //全局变量
           for (var x in resultData) {
               htmls += '<option value = "' + resultData[x].id + '">' +
                   resultData[x].roleName + '</option>'
           }
           $("#roleType").html(htmls);
           form.render('select');
			} else {
				layer.msg(res.msg);
			}
		},
		error : function(XMLHttpRequest, textStatus, errorThrown) {
			// 状态码
			console.log(XMLHttpRequest.status);
			// 状态
			console.log(XMLHttpRequest.readyState);
			// 错误信息   
			console.log(textStatus);
		}
	});
  });
  </script>
</body>
</html>

